body {
    font-size: 20px;
}
#content{
    max-width: 600px;
    border: 1px solid black;
    margin: 40px auto;
    padding: 30px;
    color: #035f9c;
    font-size: .8em;
    text-align: center;
}
hr{
    height: .5px;
    background-color: black;
    width: 80%;
}
#spaced{
    letter-spacing: 3px;
    font-size: 11px;
}
h1{
    color: black;
}
img{
    width: 20%;
    display: block;
    margin: 50px auto;
}
#topics{
    line-height: 1.3em;
    width: 80%;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
    color: black;
    text-align: left;
}
.list{
    list-style-type: decimal;
    font-size: 15px;
} 
li{
    margin-bottom: 20px;
}
#italics{
    color: black;
    font-size: 15px;
    font-style: italic;
}

/* dark mode */
body.dark {
    background-color: rgb(22, 22, 22);
    color: white;
}

body.dark #content {
    color: white;
    border-color: white;
}

body.dark h1,
body.dark #topics,
body.dark #italics {
    color: white;
}

body.dark hr {
    background-color: white;
}
body.dark #spaced{
    color: #6eb3e0;
    letter-spacing: 3px;
    font-size: 11px;
}